@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

.task-list-item {
  border-bottom: 1px solid #bbb;
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 0.5em;
  word-wrap: break-word;
}

.task-list-item:hover {
  background-color: #ddd;
  cursor: pointer;
}

.task-list-item-completed {
  text-decoration: line-through;
}

#task-title {
  font-size: 2em;
}

#task-desc {
  padding-left: 1em;
}

.task-actions {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-content: center;
  column-gap: 10px;
}

/* ! Removed */
/* .task-actions-collapsed {
  display: none;
  grid-template-columns: auto;
  justify-content: space-around;
  align-content: center;
  position: relative;
}

.show-actions-btn:hover {
  transform: scale(1.2);
}

.actions-box {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  position: absolute;
  z-index: 2;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  animation: fade-in 0.1s;
} */

.delete-task-action {
  font-size: 1.5em;
  padding-top: 3px;
  transition: color 0.2s;
  text-align: center;
}

.delete-task-action:hover {
  cursor: pointer;
  color: red;
}

.check-task-action {
  width: 2em;
  margin: 0;
}

/* ! Removed */
/* @media only screen and (max-width: 768px) {
  .task-actions {
    display: none;
  }
  .task-actions-collapsed {
    display: grid;
  }
} */
