* {
  box-sizing: border-box;
}

.add-task-dialog-background {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: minmax(auto, 600px);
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

.add-task-dialog {
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  opacity: 100%;
}

h1 {
  text-align: center;
  margin: 0;
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  margin-bottom: 1em;
  height: 3em;
  outline: none;
  border: 2px solid var(--leaf);
  border-radius: 2em;
}

input:focus {
  border: 2px solid var(--leaf-very-light);
}

#confirm-add-edit-btn {
  width: 80%;
  margin: auto;
  height: 3em;
  font-size: 1em;
}
