.question {
  display: block;
  font-size: 2em;
  margin: auto;
  padding: 0 1em;
}

.two-btn-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  justify-items: center;
}

.confirm-dialog-btn {
  width: 90%;
  margin: 0.5em 0;
}
