:root {
  --leaf: #2bcf64;
  --leaf-light: #39e675;
  --leaf-very-light: #57eb8a;
  --bg: #eeeeee;
  --dark: #555;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: var(--bg);
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  height: max-content;
  margin: auto;
  padding-bottom: 1em;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--leaf);
  color: var(--bg);
  padding: 0.5em;
  font-size: 2em;
  display: grid;
  grid-template-columns: auto 2em;
}

.nav-btn-container {
  text-align: right;
}

.nav-btn {
  color: white;
  transition: color 0.2s;
}

.nav-btn:hover {
  cursor: pointer;
  color: var(--dark);
}

#tasks-list {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

.add-task-btn {
  background-color: var(--leaf);
  border: none;
  width: 50%;
  display: block;
  padding: 0.1em;
  font-size: 2em;
  outline: none;
  border-radius: 5em;
  margin: 1em auto;
  color: var(--bg);
  transition: background-color 0.2s;
}

.add-task-btn:hover {
  cursor: pointer;
  background-color: var(--leaf-light);
}

.add-task-btn:active {
  background-color: var(--leaf-very-light);
}

#add-task-btn {
  position: sticky;
  bottom: 1em;
}
