:root {
  --leaf: #2bcf64;
  --leaf-light: #39e675;
  --leaf-very-light: #57eb8a;
  --bg: #eeeeee;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: var(--bg);
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  height: max-content;
  margin: auto;
  overflow: auto;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--leaf);
  color: var(--bg);
  padding: 0.5em;
  font-size: 2em;
}


#tasks-list {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

.add-task-btn {
  background-color: var(--leaf);
  border: none;
  width: 50%;
  display: block;
  padding: 0.1em;
  font-size: 2em;
  outline: none;
  border-radius: 5em;
  margin: 1em auto;
  color: var(--bg);
}

.add-task-btn:hover {
  cursor: pointer;
  background-color: var(--leaf-light);
}

.add-task-btn:active {
  background-color: var(--leaf-very-light);
}
